
.org {

    background-color: $second-color;
    margin-bottom: -2%;
    font-family: $myFont;

    &__title {
    margin-top: 10%; 
    margin-bottom: 2%;
    text-align: center;
    color: $background-color;
    font-size: 30px;
    font-weight: 700;
    }

 }
 .recommand{

    display: flex;
    justify-content: space-around;
 }

.part1{

 &__black{
     font-size: 20px;
     margin-top: -3%;
     
}
 &__text{
    color: $text-color;
    font-size: 20px;
    margin-top: -4%;
    line-height: 40px;
    width: 100%;
}

}
 .part2{

    &__appel{
       color:#F4CF1B; 
       font-size: 25px;
       margin-left: -3px;
    }

     &__num{
         background-color: #F4CF1B;
         color: #1078AD;
         border-radius: 5px;
         width: 60%;
         height: 15%;
         border: none;
         font-size: x-large;
         margin-bottom: 3%;
         margin-left: -7%;
     }
     
    &__web{
        color:white;
        font-size: x-large;
        margin-left: -20px;
    }


}