$primary-color: #000000;
$second-color: #1078AD;
$blue-color:#1A519E;
$background-color:#96C5DC;
$text-color: rgb(255, 255, 255);
$orange-color:#F4CF1B;
$grey-color: #7F7F7F;
$green-color:#369D53;
$whiteblue-color:#D0E5F0;
$myFont: 'Cairo', sans-serif;